@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #f09d51; /* A warm, modern orange color */
  --foreground: #282828; /* A dark grey for good contrast */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1; /* A bolder orange for dark mode */
    --foreground: #ff6200; /* A lighter grey for readability */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif; /* Updated font */
}