input[type="text"]:hover,
li:hover {
  transform: scale(1.01); /* Zoom in a bit */
  transition: transform 0.3s ease; /* Smooth transition effect */
  z-index: 10; /* Ensure they appear above other elements */
}

li {
  overflow: hidden; /* Prevents content from spilling out */
}

.file-input-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.file-name {
  text-align: center; /* Center the text */
  margin-top: 10px; /* Add some space above the file name */
}