body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1000px; /* Ensure the container is wide enough */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ensure four columns */
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 2rem;
}

.card-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.9);
}

.edit-icon,
.delete-icon {
  margin: 0.5rem;
}

.image {
  width: 100%;
  height: auto;
}

.designTitle {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
}

.description {
  padding: 0 10px 20px;
  text-align: center;
}
